In [2]:
import pandas as pd
import numpy as np

In [3]:
_HIGH_ = 'High'
dty = {
        'Close': 'float64',
        _HIGH_: 'float64',
        'Low': 'float64',
        'Open': 'float64',
        'Volume': 'int64'
      }

In [4]:
pdf = pd.read_csv('/home/starq/REP/DATA/FINANCE/Quotazioni/test-ai.csv' \
    #pdf = pd.read_csv('/home/starq/REP/DATA/FINANCE/Quotazioni/NVDA.csv' \
                                 ,usecols=['Date','Open', 'High', 'Low', 'Close', 'Volume'] \
                                 ,dtype=dty,parse_dates=['Date'],infer_datetime_format=True \
                                 ,index_col='Date')

In [4]:
len(pdf.index)

12

## OK

In [7]:

test = {'Date' : ['1999-01-22 00:00:00', '1999-01-25 00:00:00'], 'GAP': ['gap', 'gap'], 'foo': [None, 'foo']}

test = pd.DataFrame(test)

pdf = pdf.join(test.set_index('Date')) ### OK!
pdf

                 Open       High        Low      Close    Volume  GAP   foo
Date
1999-01-22  21.000000  23.437440  18.624960  19.687440  67867200  gap  None
1999-01-25  21.249960  21.999960  19.687440  21.750000  12762000  gap   foo
1999-01-26  21.999960  22.437479  19.749960  20.062560   8580000  NaN   NaN
1999-01-27  20.124960  20.625000  18.999960  20.000040   6109200  NaN   NaN
1999-01-28  20.000040  20.124960  19.812479  19.937521   5688000  NaN   NaN
1999-01-29  19.937521  20.000040  18.999960  18.999960   6100800  NaN   NaN
1999-02-01  18.999960  19.500000  18.999960  19.374960   3867600  NaN   NaN
1999-02-02  18.999960  19.500000  17.312521  17.874960   6602400  NaN   NaN
1999-02-03  17.625000  18.500040  17.499960  18.249960   1878000  NaN   NaN
1999-02-04  18.500040  19.749960  18.249960  19.250040   4548000  NaN   NaN
1999-02-05  19.562521  20.000040  19.062479  19.812479   3421200  NaN   NaN
1999-02-08  19.937521  20.000040  19.125000  19.125000   3852000  NaN   NaN

In [49]:
df = pd.DataFrame(index=list('AB'), columns=list('12'), data=-np.inf)
df

     1    2
A -inf -inf
B -inf -inf

In [50]:
df = pd.DataFrame({"A": [1,2,3],
                   "B": [2,4,8]})
df

   A  B
0  1  2
1  2  4
2  3  8

In [51]:
df.insert(loc=0, column="C", value=[1,2,3])
df

   C  A  B
0  1  1  2
1  2  2  4
2  3  3  8

In [11]:
cols = ['gap', 'min', 'max']
_data= [1,2,3,4,5,6,7,8,9,0,11,12]
data = [{'gap' : _data, 'min' : _data, 'max' : _data}]

In [12]:
pdf

                 Open       High        Low      Close    Volume
Date
1999-01-22  21.000000  23.437440  18.624960  19.687440  67867200
1999-01-25  21.249960  21.999960  19.687440  21.750000  12762000
1999-01-26  21.999960  22.437479  19.749960  20.062560   8580000
1999-01-27  20.124960  20.625000  18.999960  20.000040   6109200
1999-01-28  20.000040  20.124960  19.812479  19.937521   5688000
1999-01-29  19.937521  20.000040  18.999960  18.999960   6100800
1999-02-01  18.999960  19.500000  18.999960  19.374960   3867600
1999-02-02  18.999960  19.500000  17.312521  17.874960   6602400
1999-02-03  17.625000  18.500040  17.499960  18.249960   1878000
1999-02-04  18.500040  19.749960  18.249960  19.250040   4548000
1999-02-05  19.562521  20.000040  19.062479  19.812479   3421200
1999-02-08  19.937521  20.000040  19.125000  19.125000   3852000

In [14]:
pdf.insert(1, cols, data)

ValueError: Length of values does not match length of index

            Open       High        Low      Close        Volume
count  12.000000  12.000000  12.000000  12.000000  1.200000e+01
mean   19.828120  20.489580  18.843720  19.510410  1.093970e+07
std     1.217792   1.417409   0.810303   0.982763  1.814717e+07
min    17.625000  18.500040  17.312521  17.874960  1.878000e+06
25%    18.999960  19.687470  18.531210  19.093740  3.863700e+06
50%    19.937521  20.000040  18.999960  19.531200  5.894400e+06
75%    20.343720  20.968740  19.265610  19.953151  7.096800e+06
max    21.999960  23.437440  19.812479  21.750000  6.786720e+07